@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");

.wrapper {
  .header {
    height: 50px;
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
    }

    .button {
      background-color: transparent;
      color: white;
      border: none;
      cursor: pointer;
      display: flex;
      height: 40px;
      align-items: flex-end;
      margin-left: 15px;
      transition: 0.6s;
    }

    .button:hover {
      text-shadow: 1px 1px 1px black;
      transition: 0.6s;
    }

    .title {
      color: #ffffff;
      font-size: 25px;
      height: 100%;
      display: flex;
      align-items: center;
      margin: 10px 0px 0px 20px;
      font-family: "Lato", sans-serif;
      margin-left: 20px;
    }
  }

  .form {
    margin: 10px 20px 0px 20px;
    width: 220px;

    hr {
      display: flex;
      justify-content: flex-start;
    }

    .form-el {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .button-submit {
      margin-top: 10px;
      width: 220px;
    }
  }

  .node-list {
    margin: 50px 10px 0px 10px;
    border: 1px solid black;
    padding: 20px;
    font-size: 25px;

    a {
      text-decoration: none;
      color: black;
      transition: 0.6s;
    }

    a:hover {
      text-shadow: 2px 2px 2px grey;
      transition: 0.6s;
    }
  }
}
